.BarraBuscar {
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    

}

.img{
    width: 17%;
    margin-left: 4%;
}
.AreaBuscar{
    width: 30%;
    margin-left: 0%;
}

.AreaBuscar textarea{
    border-radius: 15px 15px 15px 15px;
    margin-top: 0%;
    width: 100%;
    background-color:rgb(218, 213, 213);
    margin-top: 3%;
  
}
.imgLupa2{
    width: 10%;
    margin-top: 0%;
    margin-left: 3%;
    margin-top: 3%;
    
    
}
.Docente{
  
    margin-right: 3%;
    margin-left: -18%;
}
.Docente h1{
    font-size: 110%;
}

