.BarraBuscar {
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.logo img{
    width: 17%;
    margin-left: 4%;
}

.AreaBuscar{
    width: 25%;
    height: 50px;
}

.AreaBuscarText{
    border-radius: 15px 15px 15px 15px;
    border:none;
    width: 90%;
    height: 15%;
    background-color:rgb(218, 213, 213);
    margin-top: 5%;
    padding: 5%;
}

.Lupa{
    width: 20%;
}

.Lupa img {
    width: 15%;
    padding-left: 5%;
}

.Docente {
    padding-right: 6%;
}

.Title{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.Title:hover{
    color: rgb(221, 5, 5);
}

.Docente Link{
    text-decoration-line: none;
}

