.imgEstudiar{
    width: 100%;
}

.TextoEstudio{
    width: 18%;
    text-align: end;
    position: absolute;
    margin-left: 76%;
    margin-top: 7%;
    color: black;
}

.Titulo text{
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

.Escrito p{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.buttonE{
    background-color: rgb(201, 5, 5);
    border:none;
    padding:5%;
    width: 100%;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.buttonE:hover{
    background-color: rgb(141, 0, 0);
}

