.content-education-banner{
    display: flex;
    justify-content: center;
}

.imgEdu{
    width: 100%;
    margin-top: 3%;
}

.content-education-banner button{
    position: absolute;
    width: 18%;
    height: 50px;
    background-color: rgb(201, 5, 5);
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    border: none;
    margin-top: 23%;
}

.content-education-banner button:hover{
    background-color: rgb(141, 0, 0);
}
