.Minecraft{
    margin-top: 3%;
    margin-left: 10%;
}

.imgcraft{
    width: 90%;
}

.TextoCraft{  
    width: 18%;
    text-align: end;
    position: absolute;
    margin-left: 60%;
    margin-top: 16%;
    color: white;
}

