.Niveles{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
   

}
.card1{
    margin-left:4% ;
}
.card2{
    margin-left:-8% ;
}

.card3{
    margin-left:-8% ;
}
.imgCard{
   margin-top: 5%;
   width: 70%;
   margin-left: 15%;
}
.textLevel{
    background-color: rgb(235, 6, 6);
    position: absolute;
    margin-left:5.6%;
    color: white;
    width: 6%;
    margin-top: 1.9%;
    height: 5%;
    text-align: center;
    
}
.textCard{
    background-color: rgb(255, 255, 255);
    margin-left:15%;
    color:black;
    width: 70%;
    margin-top:0%;
    height: 5%;
    text-align: center;
}



