.content-login{
    background-image: url("../Images/background_login.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.information-login{
    height: 42rem;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    padding-right: 10%;
    color: white;
}

.Title2{
    font-size: 25px;
    font-size: 'Raleway', sans-serif;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    background-color: transparent;
    font-size: 15px;
    font-size: 'Quicksand', sans-serif;
    color: white;    
  }

  .input-field{
      background-color: transparent;
      border: none;
      font-size: 15px;
      font-size: 'Quicksand', sans-serif;      
  }

  ::placeholder {
      color: white;
      font-size: 15px;
      font-size: 'Quicksand', sans-serif;
  }
  
  .img-loginstyle {
    padding-right: 10px;
    width: 10%;
  }

  .btn{
      background-color: #FFFFFF;
      padding: 5%;
      padding-left: 25%;
      padding-right: 25%;
      border: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15%;
      font-size: 18px;
      font-family: 'Raleway', sans-serif;
  }

  .btn:hover{
    background-color: rgb(211, 1, 1);
    color: white;
  }

